.title-font {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.sub-title-font {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.content-font {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}