.manage-button {
    background: #251B37;
    border: none;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 13px;
    border-radius: 5px;
}

.manage-button:hover {
    background: #2B4865;
}

.block-body-container {
    width: 90%;
    padding: 3% 5% 5% 5%;
}

.card-block {
    border-radius: 5px;
    cursor: pointer;
}


.card-block-container {
    background: white;
    border-radius: 10px;
}


.card-block-container:hover {
    box-shadow: 1px 1px 10px #d2d5e0;
    border-radius: 10px;
}


.card-heading {
    font-size: 25px;
    font-weight: bold;
}

.card-project-title {
    font-size: 20px;
    font-weight: normal;
}


@media (max-width: 991px) {

    .block-body-container {
        padding: 3% 0 15% 0;
    }

    .card-heading {
        font-size: 30px;
    }

    .card-project-title {
        font-size: 24px;
    }

    .card-deadline-semester {
        font-size: 24px;
    }
}





