#staticBackdrop {
    display: none;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -0px; /* half of the elements height */
    margin-right: -0px; /* half of the elements width */
}

.blur-background {
    filter: grayscale(5%);
}