#login {
    padding: 3%;
    text-align: center;
}


.login-padding {
    padding: 3% 2%;
}


.loginForm {
    text-align: left;
}


.loginInputField {
    border-radius: 3px;
    margin-top: 1%;
    height: 45px;
    border: 1px solid #dbdada;
    color: rgb(90, 89, 89);
}

.loginInputField:invalid, .loginInputField:focus, .loginInputField:active {
    border: 1px solid #dbdada;
}

.form-group {
    margin-top: 2%;
    color: rgb(124, 123, 123);
}


.blockDisplay {
    display: block;
    margin-bottom: 1px;
    color: #5D6065;
}

.inputField {
    width: 100%;
}

@media (max-width: 767px) {
    .leftImage {
        display: none;
    }

    .loginForm {
        margin-left: 15%;
    }
}


.registerBtn {
    margin-top: 5px;
    text-decoration: none;
}

.newUser {
    color: rgb(124, 123, 123);
    text-decoration: none;
    margin-right: 5px;
}

.newUser:hover {
    color: rgb(124, 123, 123);
    text-decoration: none;
    background: white;
}

.register {
    cursor: pointer;
    color: #dab41c;
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
}

.register:hover {
    cursor: pointer;
    color: #FCD94A;
    text-decoration: none;
    border-radius: 3px;
    background: white
}

.hidden {
    display: none;
}


.my-check-box:checked {
    background: rgb(124, 123, 123);
    box-shadow: none;
    font-family: "poppins", sans-serif;
    border: none;
    font-weight: 500;
    border-radius: 3px;
}

.my-check-box:not(:checked),
.my-check-box:checked:before {
    box-shadow: none;
    font-family: "poppins", serif;
    color: rgb(51, 50, 50);
    font-weight: 500;
    border-radius: 3px;
}

.error {
    display: none;
}

.notError {
    display: inline;
    color: red
}

.error-text {
    color: red !important;
    font-family: Sora, serif;
    font-size: 13px;
    margin-bottom: -8px;
}

/* new css added from this line */
.block-login-container {
    border-radius: 10px;
    width: 60%;
    margin-bottom: 100px !important;
}

.block-login-form {
    margin: 5%;
    text-align: start;
}

.block-login-row {
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 50px;
}

.leftImage {
    text-align: center;
    display: flex;
    background: #F7F7F7;
    border-radius: 15px 0 0 15px;
}

.loginHeading {
    color: #251B37;
    font-family: 'Poppins', 'Sora', sans-serif, open sans, Helvetica Neue, Helvetica, A;
    font-weight: bold;
}

.rightDiv {
    text-align: left;
    border-radius: 0 15px 15px 0;
    background: white;
}


.input-field {
    display: inline;
    background: #F2F4F6;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #dbdada;
    color: rgb(90, 89, 89);
}

.input-field:hover, .input-field:active, .input-field:focus {
    outline: 1px solid #251B37 !important;
}

.input-field:focus {
    box-shadow: none;
    outline: none !important;
    border: 1px solid #251B37;
}

.dropdown-input {
    min-width: 100px;
    height: 44px;
    margin-top: 6px;
}

.signInBtn {
    background: #251B37;
    color: #ffffff;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.signInBtn:hover, .signInBtn:focus {
    /*height: 40px;*/
    background: #3e2e5b;
    color: #ffffff;
    border-radius: 5px;
}

@media (max-width: 991px) {

    .block-login-container {
        border-radius: 10px;
        width: 80%;
        margin-bottom: 15%;
    }

    .block-login-form {
        margin: 2%;
        text-align: start;
    }


    .rightDiv {
        text-align: left;
        border-radius: 10px;
        background: white;
    }

}

@media (max-width: 767px) {

    .block-login-container {
        border-radius: 10px;
        width: 90%;
        margin-bottom: 15%;
    }


    .rightDiv {
        text-align: left;
        border-radius: 10px;
        background: white;
    }

    .block-login-form {
        margin: 5%;
        text-align: start;
    }

}






