.profile-block {
    width: 35%;
    margin-top: 30px;
    border-radius: 5px;
    padding: 28px !important;
}

.marks-block {
    width: 50%;
    margin-top: 30px;
    border-radius: 5px;
}

.profile-image {
    width: 150px;
    height: 150px;
    transition: .5s;
}

@media screen and (min-width: 400px) {
    .profile-block{
        width: 80%;
    }

    .marks-block {
        width: 100%;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        transition: .5s;
    }
}

@media screen and (min-width: 991px) {
    .profile-block {
        width: 50%;
    }

    .marks-block {
        width: 100%;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        transition: .5s;
    }
}


@media screen and (min-width: 1320px) {
    .profile-block {
        width: 35%;
    }

    .marks-block{
        width: 50%;
    }

}




