.profile-block {
    width: 35%;
    background: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
}

.profile-image {
    width: 150px;
    height: 150px;
    transition: .5s;
}

@media (max-width: 1320px) {
    .profile-block {
        width: 50%;
    }

}

@media (max-width: 767px) {
    .profile-block {
        width: 70%;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        transition: .5s;
    }
}

