{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="profile-block p-3">
            {% if status == 101 %}
                <div class="alert alert-info">
                    Your account has been verified.
                    <a href="{% url 'login' %}">Sign In Here</a>
                </div>
            {% elif status == 102 %}
                <div class="alert alert-error">
                    Failed to verify your account
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Your account is already verified.
                    <a href="{% url 'login' %}">Sign In Here</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}