{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" d-flex justify-content-center">
        <div class="profile-block p-3 mb-5">
            {% for message in messages %}
                {% if  message.tags == 'success' %}
                    <p class="alert alert-success">
                        {{ message }}
                        <a href="{% url 'teacher-management' %}">
                            go back to teacher management
                        </a>
                    </p>
                {% else %}
                    <p class="alert alert-warning">
                        {{ message }}
                    </p>
                {% endif %}
            {% endfor %}
            <h4>Add new teacher</h4>
            {% include 'divider.html' %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group ">
                    <label for="id_username">Username</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_username"
                            name="username"
                            required
                            value="{{ username }}"
                    />
                    <label for="id_email" class="mt-1">Email</label>
                    <input
                            type="email"
                            class="form-control input-field"
                            id="id_email"
                            name="email"
                            required
                            value="{{ email }}"
                    />
                    <label for="id_password" class="mt-1">Password</label>
                    <input
                            type="password"
                            class="form-control input-field"
                            id="id_password"
                            name="password"
                            required
                            value="{{ password }}"
                    />
                    <label for="id_confirm_password" class="mt-1">Confirm
                        Password</label>
                    <input
                            type="password"
                            class="form-control input-field"
                            id="id_confirm_password"
                            name="confirm_password"
                            required
                            value="{{ confirm_password }}"

                    />
                    <label for="id_full_name" class="mt-1">Full Name</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_full_name"
                            name="full_name"
                            required
                            value="{{ full_name }}"
                    />
                    <label for="id_initials" class="mt-1">Initials</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_initials"
                            name="initials"
                            required
                            value="{{ initials }}"
                    />
                    <label for="id_designation" class="mt-1">Designation</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_designation"
                            name="designation"
                            required
                            value="{{ designation }}"
                    />
                    <label for="id_phone" class="mt-1">Phone
                        Number(Optional)</label>
                    <input
                            type="tel"
                            class="form-control input-field"
                            id="id_phone"
                            name="phone"
                            value="{{ phone }}"
                    />
                    <button
                            type="submit"
                            class="btn btn-primary signInBtn mt-4"
                            style="width: 100%; margin-bottom: -14px"
                    >
                        Add Teacher
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}