{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" d-flex justify-content-center">
        <div class="profile-block p-3 mb-5">
            {% for message in messages %}
                <p class="alert alert-success">
                    {{ message }}
                </p>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <img class="rounded-circle account-img img-thumbnail mt-2 profile-image shadow p-1"

                     src={% static 'media/defaultProfile.png' %}  alt="{% static 'media/loginimg.png' %}">
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group ">
                    <label for="id_full_name">Full Name</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_full_name"
                            name="full_name"
                            required
                            value="{{ full_name }}"
                    />
                    <label for="id_student_id" class="mt-1">Student ID</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_student_id"
                            name="student_id"
                            required
                            value="{{ student_id }}"
                    />
                    <label for="id_batch_number" class="mt-1">Batch</label>
                    <input
                            type="number"
                            class="form-control input-field"
                            id="id_batch_number"
                            name="batch"
                            required
                            value="{{ batch }}"
                    />
                    <label for="id_section" class="mt-1">Section</label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_section"
                            name="section"
                            value="{{ section }}"

                    />
                    <label for="formFile"
                           class="form-label ">Profile Image</label>
                    <input class="form-control input-field" type="file"
                           id="formFile">
                    <button
                            type="submit"
                            class="signInBtn"
                            style="width: 100%"
                    >
                        Update Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}