{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mb-5 block-body-container">
        <div class="row align-items-center mb-1">
            <div class="col-lg-12 col-md-10 col-sm-8 d-md-flex justify-content-between align-items-center">
                <h4 class="d-flex color-primary-second font-weight-bold">
                    Notices</h4>
                {% if user.is_superuser %}
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'notice-create' %}';"
                    >Create New
                    </button>
                {% endif %}
            </div>
        </div>
        {% include 'divider.html' %}
        <div class="table-responsive mt-3">
            <table class="table table-striped table-hover mt-2">
                <thead class="thead-light">
                <tr class="table-row">
                    <th scope="col" style="width: 15%">Title</th>
                    <th scope="col" style="width: 55%">Description</th>
                    <th scope="col" style="width: 15%">Course</th>
                    <th scope="col" style="width: 15%">Published</th>
                </tr>
                </thead>
                <tbody>
                {% for notice in object_list %}
                    <tr class="table-row"
                        onclick="window.location='{% url 'notice-detail' notice.id %}';">
                        <td> {{ notice.title }}</td>
                        <td>{{ notice.description }}</td>
                        <td>CSE-{{ notice.course.course_code }}</td>
                        <td>{{ notice.created_date|date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    <style>
        .table-hover tbody tr:hover {
            background-color: #f6f6f6;
            cursor: pointer;
        }

        .table-row {
            transition: all .2s ease-in-out;
        }

        .table-row:hover {
            transform: scale(1.02);
            box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}


