{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="container mb-5 block-body-container" onclick="">
        {# running project and manage #}
        <div class="row align-items-center mb-1">
            <div class="col-lg-11 col-md-10 col-sm-8  d-md-flex justify-content-between align-items-center">
                <h4 id="id_total_submission" class="d-flex color-primary-second"
                    style="font-weight: bold">CSE
                    - {{ course.course_id }}
                    submissions({{ proposals.count }}/{{ student_count }})</h4>
                <div class="d-flex btn-group" role="group"
                     aria-label="First group">
                    <input
                            id="id_search"
                            type="text"
                            class="form-control bg-white input-field"
                            style="border-radius: 3px 0 0 3px; border: 1px solid #6c757d"
                            placeholder="Student ID"
                    >
                    <button
                            class="btn btn-sm btn-outline-secondary"
                            onclick="searchButtonClick()"
                    >
                        Search
                    </button>
                </div>
            </div>
            <div style="height: 38px;"
                 class="col-lg-1 col-md-2 col-sm-4 dropdown d-flex justify-content-end ">
                <button
                        class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    Actions
                </button>
                <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1">
                    <li>
                        <button type="button"
                                class="dropdown-item text-muted"
                                onclick="DownloadPDF()"
                        >PDF
                        </button>
                    </li>
                    <li>
                        <button type="button"
                                class="dropdown-item text-muted"
                                onclick="DownloadCSV()"
                        >CSV
                        </button>
                    </li>
                    {% if user.is_superuser %}
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-update' course.id  course.semester %}">Update</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-results' course.id %}">Result</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    {% endif %}

                    <li><a class="dropdown-item text-muted"
                           href="{% url 'course-details' course.id 'all' %}">All</a>
                    </li>
                    <li><a class="dropdown-item text-muted"
                           href="{% url 'course-details' course.id user.teacher.initials %}">My
                        Projects</a>
                    </li>

                    {% if user.is_superuser %}
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-details' course.id 'assigned' %}">Assigned</a>
                        </li>
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-details' course.id 'unassigned' %}">Unassigned</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% include 'divider.html' %}
        {# submission details of a project body #}
        {% if proposals %}
            <div class="row">
                <div class="col col-lg-8">
                    <div class="row mt-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 d-flex justify-content-start">
                        {% for proposal in proposals %}
                            {% include 'project_management/project_details_card_new.html' with proposal=proposal teachers=teachers id=proposal.id %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col col-lg-4 d-lg-block d-none">
                    <table id="data-table"
                           class="table table-hover mt-2 text-muted">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">3300</th>
                            <th scope="col">4800</th>
                            <th scope="col">4801</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.full_name }}</td>
                                <td id="id_cnt_3300{{ teacher.initials }}">{{ proposals|proposal_3300_count:teacher.initials }}</td>
                                <td id="id_cnt_4800{{ teacher.initials }}">{{ proposals|proposal_4800_count:teacher.initials }}</td>
                                <td id="id_cnt_4801{{ teacher.initials }}">{{ proposals|proposal_4801_count:teacher.initials }}</td>
                                <td id="id_cnt_full{{ teacher.initials }}">0
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <h3 style="height: 40%"
                class=" container text-muted d-flex align-items-center justify-content-center">
                No proposals</h3>
        {% endif %}

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            let cnt3300
            let cnt4800
            let cnt4801
            {% for teacher in teachers %}
                cnt3300 = document.getElementById("id_cnt_3300{{ teacher.initials }}").innerText
                cnt4800 = document.getElementById("id_cnt_4800{{ teacher.initials }}").innerText
                cnt4801 = document.getElementById("id_cnt_4801{{ teacher.initials }}").innerText
                document.getElementById("id_cnt_full{{ teacher.initials }}").innerText = parseInt(cnt3300) + parseInt(cnt4800) + parseInt(cnt4801)
                console.log(cnt3300 + ' ' + cnt4800 + ' ' + cnt4801)
            {% endfor %}
        });

        function searchButtonClick() {
            const searchText = document.getElementById("id_search").value
            if (searchText.length === 0) {
                return
            }
            location.href = '{% url 'course-details' course.id 'all' %}?query=' + searchText;
        }

        function DownloadPDF() {
            course_id ={{ course.id }};
            if (course_id === null) course_id = 594612
            console.log(course_id)

            $.ajax({
                    type: 'GET',
                    url: '{% url 'course-details' course.id filter_by %}',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        'type': "PDF",
                    },
                    success: function (data) {
                        console.log(data)
                        var blob = new Blob([data]);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        console.log(link.href)
                        link.download = "Proposal Submission - {{ course.semester }}.pdf";
                        link.click();
                    },
                    error: function (data) {
                        console.log("Error Data")
                        console.log(data)
                    }
                }
            )

        }

        function DownloadCSV() {
            course_id ={{ course.id }};
            if (course_id === null) course_id = 594612
            console.log(course_id)

            $.ajax({
                    type: 'GET',
                    url: '{% url 'course-details' course.id filter_by %}',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        'type': "CSV",
                    },
                    success: function (data) {
                        console.log(data)
                        var blob = new Blob([data]);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = "Proposal  " + '{{ course.title }} ' + '{{ course.semester }}' + '.csv';
                        link.click();
                    },
                    error: function (data) {
                        console.log(data)
                    }
                }
            )

        }

    </script>
{% endblock %}