{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mb-5 block-body-container" onclick="">
        {# running project and manage #}
        <div class="d-flex justify-content-between">
            <h5 id="id_total_submission" class="color-primary-second"
                style="font-weight: bold">CSE
                - {{ course.course_id }}
                submissions({{ proposals.count }}/{{ student_count }})</h5>
            <!-- dropdown for mobile -->
            <div class="dropdown d-md-none">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog"></i> Actions
                </button>
                <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1">
                    {% if user.is_superuser %}
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-results' course.id %}">Result</a>
                        </li>
                    {% endif %}
                    <li><a class="dropdown-item text-muted"
                           href="{% url 'course-details' course.id 'all' %}">All</a>
                    </li>
                    <li><a class="dropdown-item text-muted"
                           href="{% url 'course-details' course.id user.teacher.initials %}">My
                        Projects</a>
                    </li>

                    {% if user.is_superuser %}
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-details' course.id 'assigned' %}">Assigned</a>
                        </li>
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-details' course.id 'unassigned' %}">Unassigned</a>
                        </li>
                        <li><a class="dropdown-item text-muted"
                               href="{% url 'course-update' course.id  course.semester %}">Update</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- button group for desktop -->
            <div class="btn-group d-none d-md-flex"
                 aria-label="Basic outlined example">
                {% if user.is_superuser %}
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            style="
                        white-space: nowrap;
                        text-align: center;"
                            onclick="location.href='{% url 'course-results' course.id %}';"
                    > Result
                    </button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        style="
                        white-space: nowrap;
                        text-align: center;"
                        onclick="location.href='{% url 'course-details' course.id 'all' %}';"
                > All
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        style="
                        white-space: nowrap;
                        text-align: center;"
                        onclick="location.href='{% url 'course-details' course.id user.teacher.initials %}';"
                > My Projects
                </button>
                {% if user.is_superuser %}
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'course-details' course.id 'assigned' %}';"
                    >
                        Assigned
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'course-details' course.id 'unassigned' %}';"
                    >
                        Unassigned
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'course-update' course.id  course.semester %}';"
                    >
                        Update
                    </button>
                {% endif %}

            </div>

        </div>
        {% include 'divider.html' %}
        {# submission details of a project body #}
        {% if proposals %}
            <div class="row mt-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 d-flex justify-content-start">
                {% for proposal in proposals %}
                    {% include 'project_management/project_details_card_new.html' with proposal=proposal teachers=teachers id=proposal.id %}
                {% endfor %}
            </div>
        {% else %}
            <h3 style="height: 40%"
                class=" container text-muted d-flex align-items-center justify-content-center">
                No proposals</h3>
        {% endif %}

    </div>
{% endblock %}