<div class="container block-project-details mt-3 ">
    <div class="d-flex justify-content-between">
        <h5 class="color-primary-second">{{ proposal.title }}</h5>
        <h6 class="text-muted">Submitted on: 31 December 2022</h6>
    </div>
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-lg-6 ">
            {% for student in proposal.students.all %}
                <div class="row d-flex justify-content-between">
                    <h6 class="col text-muted">{{ student.full_name }}</h6>
                    <h6 class="col  text-muted">{{ student.student_id }}</h6>
                </div>
            {% endfor %}
        </div>
        <div class="col col-xs-12 col-sm-12 col-lg-6">
            <div class="row d-flex justify-content-between">
                <div class="col col-xs-12 col-sm-12 col-lg-6 ">
                    <h6 class="text-muted">Preferred
                        Supervisors:
                        {% for supervisor in proposal.preferred_supervisors.all %}
                            {{ supervisor.initials }},
                        {% endfor %}
                    </h6>
                    <h6 class="text-muted">Assigned
                        Supervisor: {{ proposal.assigned_supervisor }}</h6>
                </div>
                <div class="col col-xs-12 col-sm-12 col-lg-6">

                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle"
                                type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown"
                                style="width: 100%"
                                aria-expanded="false">
                            Assign Supervisor
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton1"
                        >
                            {% for teacher in teachers %}
                                <li>
                                    <button
                                            name="assign_button"
                                            class="dropdown-item"
                                            type="button">{{ teacher.full_name }}</button>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class=" btn btn-sm btn-primary"
                                style="width: 100%">Update
                        </button>
                        {# Delete Proposal Button #}
                        <div style="width: 100%">
                            <!-- Button trigger modal -->
                            <button type="button"
                                    id="delete-btn{{ proposal.id }}"
                                    class="btn btn-sm btn-danger"
                                    style="width: 100%;"
                                    data-bs-toggle="modal"
                                    onclick="delete_id = {{ proposal.id }};
                                            team_lead_student_id = {{ proposal.team_lead.student_id }};
                                            "
                                    data-bs-target="#exampleModal">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade"
                                 id="exampleModal"
                                 tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">
                                                Delete?</h5>
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"
                                             id="modal_main_body">
                                            Are you sure you want to
                                            delete this proposal?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-sm btn-secondary"
                                                    data-bs-dismiss="modal">No
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-danger"
                                                    onclick="deleteButton()"
                                                    name="delete_button"
                                            >
                                                Yes! Delete.
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    delete_id = -1;
    team_lead_student_id = -1;

    function deleteButton(e) {
        console.log("delete button clicked ")
        console.log(delete_id)
        console.log(team_lead_student_id)

        $.ajax({
                type: 'POST',
                url: '{% url 'course-details' course.id 'all' %}',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    // plus other data
                    'delete_button': true,
                    'team_lead_id': team_lead_student_id,
                    'proposal_id': delete_id
                },
                success: function () {
                    window.location.reload({{ course.id }}, 'all');
                    console.log("Successfully")
                }
            }
        )

    }

    {#$(document).ready(function () {#}
    {##}
    {##}
    {#    $('#delete_button{{ proposal.id }}').on('click', function (e, proposal_id) {#}
    {#        e.preventDefault();#}
    {#        console.log("delete button clicked" + proposal_id)#}
    {#        $.ajax({#}
    {#            type: 'POST',#}
    {#            url: '{% url 'proposal-submission' proposal.course.id proposal.course.semester %}',#}
    {#            headers: {#}
    {#                'X-CSRFToken': '{{ csrf_token }}'#}
    {#            },#}
    {#            data: {#}
    {#                // plus other data#}
    {#                'delete_button': true,#}
    {#                'team_lead_id': '{{ proposal.team_lead.student_id }}',#}
    {#                'course_id': '{{ proposal.course.id }}'#}
    {#            },#}
    {#            success: function () {#}
    {#                window.location.reload();#}
    {#            }#}
    {#        })#}
    {#    })#}
    {##}
    {##}
    {#    $('#dropdownMenuButton1').on('click', function (e) {#}
    {#        e.preventDefault();#}
    {#        console.log("assign delete button clicked")#}
    {#    })#}


    {# }); #}


</script>

