{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if not proposal %}
        <div class=" d-flex justify-content-center">
            <div class="profile-block p-3">
                {% for message in messages %}
                    <p class="alert alert-success">
                        {{ message }}
                    </p>
                {% endfor %}

                <form id="id_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>Project proposal submission form</h5>
                    {% include 'divider.html' %}

                    <div class="form-group ">
                        <label for="id_title">Project/Theses Title</label>
                        <input
                                id="id_title"
                                type="text"
                                class="form-control input-field"
                                name="title"
                                required
                                value="{{ title }}"
                        />
                        {# here is the tagify student element #}
                        <label for="id_tagify_student" class="mt-2">Team
                            Members</label>
                        <input
                                id="id_tagify_student"
                                name='tagify_student'
                                class='input-field tagify-field'
                                placeholder="Type student id's"
                                value="{{ user.student.student_id }}"
                                required
                        >

                        {# here is the tagify teachers element #}
                        <label for="id_tagify_teacher" class="mt-2">Preferred
                            Teachers</label>
                        <input
                                id="id_tagify_teacher"
                                name='tagify_teacher'
                                class='input-field tagify-field'
                                placeholder="Type teachers name"
                                required
                        >
                        {# proposal file #}
                        <label for="id_proposal_file"
                               class="form-label mt-2" style="margin-bottom: 0">Upload
                            proposal</label>
                        <input id="id_proposal_file"
                               class="form-control input-field" type="file"
                               name="proposal_file"
                               accept=".doc, .docx, .pdf"
                               required
                        />
                        <div class="mt-4">
                            <!-- Button trigger modal -->
                            <button type="button"
                                    class="btn btn-primary signInBtn"
                                    data-bs-toggle="modal"
                                    style="width: 100%; margin-bottom: -16px"
                                    data-bs-target="#exampleModal">
                                Submit Proposal
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal"
                                 tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark"
                                                id="exampleModalLabel">
                                                Submit {{ proposal.course.title }}</h5>
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body alert alert-warning">
                                            Make sure following information is
                                            correct. You won't be able to update
                                            the form!
                                            <ul>
                                                <li>Title</li>
                                                <li>Team members</li>
                                                <li>Preferred Supervisors</li>
                                                <li>Proposal file</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-sm btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-sm btn-warning"
                                                    name="delete_button"
                                            >
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>

    {% else %}

        <div class="block-body-container container">

            <div class="container">
                {# running project and manage #}
                <div class="d-flex justify-content-between">
                    <h3 class="color-primary-second title-font">Your
                        Submission</h3>
                </div>
                {% include 'divider.html' %}
            </div>

            <div class="container block-project-details mt-3 p-3">
                <div class="d-flex justify-content-between row row-cols-2">
                    <h5 class="color-primary-second sub-title-font">{{ proposal.title }}</h5>
                    <a class="text-muted content-font text-decoration-none d-flex justify-content-end">
                        Submitted: {{ proposal.created_date }}
                    </a>
                </div>
                <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
                    <div>
                        {% for student in proposal.students.all %}
                            <div class="row d-flex justify-content-between">
                                <h6 class="col text-muted content-font">{{ student.full_name }}</h6>
                                <h6 class="col  text-muted content-font">{{ student.student_id }}</h6>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
                            <div><h6 class="text-muted content-font">Preferred
                                Supervisors:
                                {% for supervisor in proposal.preferred_supervisors.all %}
                                    {{ supervisor.initials }},
                                {% endfor %}
                            </h6>
                                <h6 class="text-muted content-font">Assigned
                                    Supervisor: {{ proposal.assigned_supervisor }}</h6>
                            </div>
                            <a href="{{ proposal.file.url }}">
                                <button class="btn btn-sm btn-outline-secondary">
                                    Proposal File
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script type="text/javascript">

        const student_list = [
            {% for student in students %}
                "{{student.student_id}}",
            {% endfor %}
        ];

        student_list.sort()

        const studentInputElm = document.querySelector('input[name=tagify_student]');

        // initialize Tagify on the above input node reference
        const tagify_student = new Tagify(studentInputElm, {
            enforceWhitelist: true,
            whitelist: student_list // Array of values. stackoverflow.com/a/43375571/104380
        })

        const teacherList = [
            {% for teacher in teachers %}
                "{{teacher.full_name}}",
            {% endfor %}
        ];

        teacherList.sort()

        const teacherInputElm = document.querySelector('input[name=tagify_teacher]');

        // initialize Tagify on the above input node reference
        const tagify_teacher = new Tagify(teacherInputElm, {
            enforceWhitelist: true,
            whitelist: teacherList // Array of values. stackoverflow.com/a/43375571/104380
        })


    </script>
{% endblock %}