{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" d-flex justify-content-center">
        <div class="profile-block p-3">
            <form id="id_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <p class="alert alert-success">
                            {{ message }}
                        </p>
                    {% else %}
                        <p class="alert alert-warning">
                            {{ message }}
                        </p>
                    {% endif %}

                {% endfor %}
                <h5 class="text-black-70 sub-heading">
                    Update {{ course.title }}</h5>
                {% include 'divider.html' %}

                <div class="form-group ">
                    <label>Select
                        Course</label>
                    <div class="btn-group d-flex">
                        <input type="button"
                               class="btn btn-secondary input-field"
                               id="id_cse3300"
                               style="width: 100%; background: #6C757D; color: white"
                               value="CSE 3300"
                               onclick="toggleCourse('3300')"
                        >
                        <input type="button"
                               class="btn btn-secondary input-field"
                               id="id_cse4800"
                               style="width: 100%"
                               value="CSE 4800"
                               onclick="toggleCourse('4800')"
                        >
                        <input type="button"
                               class="btn btn-secondary input-field"
                               id="id_cse4801"
                               style="width: 100%; border-radius: 0 3px 3px 0;"
                               value="CSE 4801"
                               onclick="toggleCourse('4801')"
                        >
                        <input type="hidden" id="id_course_code"
                               style="width: 100%"
                               name="course_code" value="CSE 3300">
                    </div>
                    <label for="id_course_title" class="mt-1">Course
                        Title
                    </label>
                    <input
                            type="text"
                            class="form-control input-field"
                            id="id_course_title"
                            name="course_title"
                            required
                            value="Project i"
                    />
                    <label class="mt-1">Select Semester</label>
                    <div class="input-group">
                        <input id="id_semester"
                               class="btn btn-sm btn-secondary dropdown-toggle d-none"
                               type="button" data-bs-toggle="dropdown"
                               name="selected_semester"
                               aria-expanded="false"
                               value="Spring"
                        >
                        <button id="id_button_semester"
                                style="border-radius: 3px 0 0 3px"
                                class="btn btn-sm btn-secondary dropdown-toggle p-2"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >Spring
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#"
                                   onclick="document.getElementById('id_semester').value = 'Spring';
                                   document.getElementById('id_button_semester').innerText = 'Spring';
                                    selectedSemester = 'Spring';
                                    ">Spring</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                   onclick="document.getElementById('id_semester').value = 'Summer';
                                   document.getElementById('id_button_semester').innerText = 'Summer';
                                    selectedSemester = 'Summer';
                                    ">Summer</a>
                            </li>
                        </ul>
                        <input type="number"
                               id="id_year"
                               class="form-control input-field"
                               aria-label="Text input with dropdown button"
                               placeholder="Year"
                               style="border-radius: 0 3px 3px 0 !important;"
                               min="2000" max="9999"
                               required
                        >
                        <input type="hidden" id="id_update_semester"
                               name="semester">
                    </div>
                    <label for="id_deadline"
                           class="mt-1 label-naming d-block">Deadline</label>
                    <input
                            type="date"
                            class="form-control input-field d-block"
                            id="id_deadline"
                            name="deadline"
                            required
                            value="{{ course.deadline|date:'Y-m-d' }}"
                    />
                    <button
                            type="submit"
                            name="submit_button"
                            class="btn btn-success mt-3"
                            onclick="updateValue()"
                            style="width: 100%; margin-bottom: -10px"
                    >
                        Update Course
                    </button>

                    {# Delete Course Button #}
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn btn-danger mt-4"
                                style="width: 100%; margin-bottom: -10px"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Delete Course
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">
                                            Delete {{ course.title }}</h5>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to
                                        delete {{ course.title }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-sm btn-secondary"
                                                data-bs-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit"
                                                class="btn btn-sm btn-danger"
                                                name="delete_button"
                                        >
                                            Delete.
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        selectedCourse = 'CSE 3300'
        courseTitle = 'Project i'
        selectedSemester = 'Spring'

        $(document).ready(function () {
            {% if course.course_id == 3300 %}
                toggleCourse("3300")
            {% elif course.course_id == 4800 %}
                toggleCourse("4800")
            {% else %}
                toggleCourse("4801")
            {% endif %}
            const sem = '{{ course.semester }}';
            const arr = sem.split(" ");
            console.log('Printing array ' + arr)

            document.getElementById('id_semester').value = arr[0];
            document.getElementById('id_year').value = arr[1];
        });

        function toggleCourse(courseCode) {
            const cse3300 = document.getElementById("id_cse3300")
            const cse4800 = document.getElementById("id_cse4800")
            const cse4801 = document.getElementById("id_cse4801")
            if (courseCode === "3300") {
                this.selectedCourse = "CSE 3300";
                this.courseTitle = 'Project i'

                cse3300.style.background = "#6C757D"
                cse3300.style.color = "white"

                cse4800.style.background = "white"
                cse4800.style.color = "black"
                cse4801.style.background = "white"
                cse4801.style.color = "black"

                document.getElementById("id_course_title").value = "Project i"
                document.getElementById("id_course_code").value = "CSE 3300"
            } else if (courseCode === "4800") {
                this.selectedCourse = "CSE 4800";
                this.courseTitle = 'Project 2 Part i'

                cse4800.style.background = "#6C757D"
                cse4800.style.color = "white"

                cse3300.style.background = "white"
                cse3300.style.color = "black"
                cse4801.style.background = "white"
                cse4801.style.color = "black"

                document.getElementById("id_course_title").value = "Project 2 Part i"
                document.getElementById("id_course_code").value = "CSE 4800"
            } else {
                this.selectedCourse = "CSE 4801";
                this.courseTitle = 'Project 2 Part ii'

                cse4801.style.background = "#6C757D"
                cse4801.style.color = "white"

                cse3300.style.background = "white"
                cse3300.style.color = "black"
                cse4800.style.background = "white"
                cse4800.style.color = "black"

                document.getElementById("id_course_title").value = "Project 2 Part ii"
                document.getElementById("id_course_code").value = "CSE 4801"
            }
        }

        function updateValue() {
            const semester = document.getElementById("id_update_semester")
            semester.value = document.getElementById("id_semester").value + " " +
                document.getElementById("id_year").value;
        }

    </script>
{% endblock %}