{% load static %}
<head>
    <title>PROJECTO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'accounts/main.css' %}">

</head>
<body>

<nav class="navbar fixed-top navbar-expand-md navbar-light navbar-main main-padding c-cus">
    <div class="container-fluid">
        <a class="navbar-brand project-name text-danger" href="#">PROJECTO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ms-2 mb-lg-0 nav-item-margin-right">
                <li class="nav-item nav-item-margin-right">
                    <a class="nav-link  custom-nav-item active"
                       aria-current="page"
                       href="#">Home</a>
                </li>
                <li class="nav-item nav-item-margin-right">
                    <a class="nav-link custom-nav-item" href="#">About Us</a>
                </li>
                <li class="nav-item nav-item-margin-right">
                    <a class="nav-link custom-nav-item" href="#">Projects</a>
                </li>
                <li class="nav-item nav-item-margin-right">
                    <a class="nav-link custom-nav-item" href="#">Admin</a>
                </li>
            </ul>
            <button class="btn btn-outline-primary btn-sm mt-1 me-1 signinbtn">
                Sign
                In
            </button>
            <button class="btn btn-info btn-sm mt-1">Sign Up
            </button>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

<!--...

-->