{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container block-body-container" onclick="">
        {% for message in messages %}
            <p class="alert alert-success">
                {{ message }}
            </p>
        {% endfor %}
        {# running project and manage #}
        <div class="d-flex justify-content-between">
            <h3 class="color-primary-second">Running Project</h3>
            {% if user.is_staff %}
                <a style="text-decoration: none; color: white"
                   href="{% url 'create-new-course' %}">
                    <button class="manage-button ">
                        Add New
                    </button>
                </a>

            {% endif %}
        </div>
        {# running project body #}

        <div class="row mt-3 row-cols-lg-4 row-cols-sm-2 row-cols-xs-2 d-flex justify-content-start">
            {% if courses %}
                {% for course in courses %}
                    {% include 'project-card.html' with course=course %}
                {% endfor %}
            {% else %}
                <h3 style="height: 40%"
                    class="mt-5 container text-muted d-flex align-items-center justify-content-center">
                    No running projects</h3>
            {% endif %}
        </div>

        {# archieved projects #}
        <h3 class="color-primary-second mt-3">Archived Project</h3>
        {# running project body #}

        <div class="row mt-3 row-cols-lg-4 row-cols-sm-2 row-cols-xs-2 d-flex justify-content-start">
            {% if courses %}
                {% for course in archived %}
                    {% include 'project-card.html' with course=course %}
                {% endfor %}
            {% else %}
                <h3 style="height: 40%"
                    class="mt-5 container text-muted d-flex align-items-center justify-content-center">
                    No archived projects</h3>
            {% endif %}
        </div>

    </div>
{% endblock %}