{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container block-body-container">
        {% for message in messages %}
            <p class="alert alert-success">
                {{ message }}
            </p>
        {% endfor %}
        {# running project and manage #}
        <div class="d-flex justify-content-between">
            <h3 class="color-primary-second">Running Project</h3>
            {% if user.is_superuser %}
                <div class="d-flex btn-group" role="group">
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="DownloadCSV()"
                    >CSV
                    </button>
                    <button class="btn btn-sm btn-outline-secondary "
                            onclick="location.href='{% url 'course-results' 594612 %}'">
                        Result
                    </button>
                    <button class="btn btn-sm btn-outline-secondary "
                            onclick="location.href = '{% url 'create-new-course' %}'">
                        Add New
                    </button>
                </div>
            {% endif %}
        </div>
        {# running project body #}

        <div class="row mt-3 row-cols-lg-4 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 d-flex justify-content-start">
            {% if courses %}
                {% for course in courses %}
                    {% include 'project-card.html' with course=course has_deadline=True course_list=course_list %}
                {% endfor %}
            {% else %}
                <h3 style="height: 40%"
                    class="mt-5 container text-muted d-flex align-items-center justify-content-center">
                    No running projects</h3>
            {% endif %}
        </div>



        {% if user.is_superuser %}
            {# archieved projects #}
            {% if archived %}
                <h3 class="color-primary-second mt-3">Past Project</h3>
                {# archieved project body #}
                <div class="row mt-3 row-cols-lg-4 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 d-flex justify-content-start">
                    {% if courses %}
                        {% for course in archived %}
                            {% include 'project-card.html' with course=course course_list=course_list %}
                        {% endfor %}
                    {% else %}
                        <h3 style="height: 40%"
                            class="mt-5 container text-muted d-flex align-items-center justify-content-center">
                            No archived projects</h3>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}

    </div>
    <script type="text/javascript">

        function myFunction() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }

        function DownloadCSV() {
            course_id = 594612

            $.ajax({
                    type: 'GET',
                    url: '{% url 'home'%}',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        'type': "CSV",
                    },
                    success: function (data) {
                        {#console.log(data)#}
                        var blob = new Blob([data]);
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = "Proposal  " + '{{ course.semester }}' + '.csv';
                        link.click();
                    },
                    error: function (data) {
                        console.log(data)
                    }
                }
            )

        }
    </script>
{% endblock %}