<div class="" style="padding-bottom: 70px">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-main">
        <div class="container-fluid">
            <a class="navbar-brand project-name text-danger"
               href="{% url 'home' %}">PROJECTO</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto ms-2 mb-lg-0 nav-item-margin-right">
                    <li class="nav-item nav-item-margin-right">
                        <a class="nav-link  custom-nav-item active"
                           aria-current="page"
                           href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item nav-item-margin-right">
                        <a class="nav-link custom-nav-item"
                           href="#">Projects</a>
                    </li>
                    <li class="nav-item nav-item-margin-right">
                        <a class="nav-link custom-nav-item" href="#">About
                            Us</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item nav-item-margin-right">
                            <a class="nav-link custom-nav-item"
                               href="#">Admin</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="navbar-nav d-flex">
                    {% if user.is_authenticated %}
                        <a class="custom-nav-item me-2"
                           style="text-decoration: none !important;"
                           href="{% url 'profile' %}">Profile</a>
                        <button class="sign-in-btn sign-out-btn"
                                name="signInButton"
                                onclick="location.href = '{% url 'logout' %}'"
                        >
                            Sign Out
                        </button>
                    {% else %}
                        <button type="submit" class="sign-in-btn"
                                name="signOutButton"
                                onclick="location.href = '{% url 'login' %}'"
                        >
                            Sign In
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>