{% load static %}
<div class="card-block mb-3">
    <a href="{% if user.teacher %}
                    {% url 'course-details' course.id 'all' %}
                {% else %}
                        {% url 'proposal-submission' course.id course.semester %}
    {% endif %}"
       style=" text-decoration: none">
        <div class="container card-block-container p-3">
            <h3 class="color-primary-second">CSE - {{ course.course_id }}</h3>
            {% include 'divider.html' %}
            <h6 class="text-muted">{{ course.title }}</h6>
            <h6 class="mt-4 text-muted">{{ course.semester }}</h6>
            <h6 class="text-muted">
                Deadline: {{ course.deadline }}</h6>
        </div>
    </a>
</div>