{% load static %}
<div class="card-block mb-3">
    <a href="{% if user.is_staff or user.teacher %}
                    {% url 'course-details' course.id 'all' %}
                {% else %}
                        {% url 'proposal-submission' course.id course.semester %}
    {% endif %}"
       style=" text-decoration: none">
        <div class="container card-block-container pulse p-3">
            <div
                    style="border-bottom: 1px solid #cbcbcb"
                    class="d-flex justify-content-between align-items-center">
                <h3 class="color-primary-second">CSE
                    - {{ course.course_code }}
                    {% if user.teacher %}
                        ({{ course.proposal.count }})
                    {% endif %}
                </h3>
                {% if course.id in course_list %}
                    <i class=" text-muted fa-regular fa-circle-check fa-xl"></i>
                {% endif %}
            </div>
            <h6 class="text-muted card-subtitle pt-2">{{ course.title }}</h6>
            <p class="card-text text-muted mb-2 mt-4">
                <i class="far fa-calendar-alt mr-2"></i>
                Semester: {{ course.semester }}
            </p>
            <p class="card-text text-muted ">
                <i class="far fa-clock mr-2"></i>
                Deadline: {{ course.end_time | date }}
            </p>
        </div>
    </a>
</div>